* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.col {
    display: flex;
    flex: 1;
    background: rgb(160, 160, 160);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: background 0.3s;
}

.col h2 {
    padding: 10px;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
}

.col h2:hover {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.col button {
    border: none;
    background: transparent;
    font-size: 1.5rem;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    transition: background 0.3s;
}

.col button:hover {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
